@charset "utf-8";

html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body{
    background-position: center top;
    background-repeat: no-repeat;
}

header{
    background-color: cadetblue;;
    margin:auto;
}

nav{
    text-align:right;
    padding: 5px 20px;

}

h1{
    color:white;
    font-family: "Arial", sans-serif;
    font-size: 3em;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

}

p.error{
    color: #B55D5D;
}


a:link, a:visited {
    color: #003330;
}

.content {
    position: relative;
    display: inline-block;
    padding: 50px;

}

.profile-row {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.profile-row p span {
    width: 100px;
    display: inline-block;
}

.topics_form {
    display: inline-block;
    padding:0px 10px;
}

.question {
    border: 5px;
    border-style: groove;

}

.answer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
}

#left-10 {
    float: left;
    width: 10%;
}

#right-90 {
    float: right;
    width: 90%;
}


#left-80 {
    float: left;
    width: 80%;
}

#right-20 {
    float: right;
    width: 20%;
}

.post-info-row {
    width: 100%;
    float: left;
    color:grey;
    font-family: "Arial", sans-serif;
    font-size: 15px;
}

.post-info-row p span {
    width: 100px;
    display: inline-block;
}

hr{
    height:2px;
    width:100%;
    border-width:0;
    color:black;
    background-color:black;
}

.question-item{
    margin-top :10px;
}

.link-button {
    background: none;
    border: none;
    color: #1a0dab;
    text-decoration: underline;
    cursor: pointer;
    padding:0;
    font-size: 15px;
    margin-top: 20px;

}

.main-container {
    float: left;
    position: relative;
    left: 50%;
    margin-top: 5em;
}
.fixer-container {
    float: left;
    position: relative;
    left: -50%;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #73A598;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


button[name="upvote_button"],button[name="best_button"] {
    background:none;border:none;margin-right:10px;
    width: 10%;
    text-align: left;
}

.message{
    position:absolute;
    top: 0;
    padding:3px;
    color: #B55D5D;
}